.box {
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    background: white;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.16);
    height: 74px;
    width: 229px;
    font-size: 14px;
    padding: 16px;
}
