@import '@styles/tailwind.init.css';

.chatCon {
    position: relative;
    width: 64px;
    height: 64px;
}

.tipConPosition {
    position: absolute;
    top: -90px;
    transition: top 0.6s 0.6s;
}
.tipConPositionHidden {
    top: 100px;
}

.tipCon {
    opacity: 0;
    transition: opacity 0.6s;
}

.tipConShow {
    opacity: 1;
}

.chatBlock {
    @apply block;
}

.chatHidden {
    @apply hidden;
}

.logo{
    height: 64px;
    width: 64px;
    border-radius: 64px;
    box-shadow: 0 4px 16px 0 #00000029;
}

.logoCon {
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.3s linear;
}

.logoConHidden {
    top: 100px;
}

.chatBoxCon {
    position: absolute;
    top: -472px;
    left: -291px;
    transition: top 0.3s linear;
}
.chatBoxConHidden {
    top: 90px;
}

